body {
	background: url('../images/themightyK_hintergrund.jpg') no-repeat;
	background-color: #DCDEDF;
}

/*
header, section {
	width: 781px;
	margin: 0 auto;
}
header a {
	display: block;
	background: url('../images/mightyklogo.png') no-repeat;
	width: 781px;
	height: 168px;	
}
header span {
	display: none;
}
*/

section {
	width: 781px;
	margin: 100px auto 0 auto;
}

div.middle {
	margin: 0 auto;
	width: 640px;
}

div.left {
	float: left;
  padding-top: 380px;
}

div.clear {
	clear:both;
}

button {
	border: none;
	background: none;
	color: #363b3d;
	font-family: helvetica;
	font-size: 30px;
	line-height: 23px;
	text-align:justify;
	cursor: pointer;
}
input {
	height:50px;
	width:300px;
	border: 1px solid #3e494b;
	padding-left: 40px;
	font: normal 25px helvetica;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #cccecd;
  text-align: center;
}
div.link {
	padding-top: 20px; 
	font-size: 25px;
	margin: 0 auto;
	width: 640px;
	font-family: helvetica;
	color: #363b3d;
	line-height: 24px;
}
#Facebook {
    text-decoration: none;
    color: #2b3031;
    font-weight: bold;
    font-size: 30px;
    font-family: helvetica;
}
